* {
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style:normal;
}

body{
    background-color: #11141D;
}

a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;    align-items: center;
    background: #12151f;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.banner {
    width: 100%;
    height: 500px;
    background: url("../images/header.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
 text-align: center;
    color: white;
}

.banner h1 {
    font-size: 42px;
}

.banner span {
    color: #fcca44;
}

.banner p {
    margin-top: 10px;
    font-size: 26px;
}

.banner button {
    margin-top: 30px;
    padding: 12px 40px;
    background: #5c9751;
    border: none;
    border-radius: 400px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.tituloC{
    margin-top: 10px;
    color: white;
    padding-left: 70px;
    font-size: 25px;
}

.subtitulo {
    color: white;
    padding-left: 70px;
    font-size: 20px;
    font-style:oblique;
}

#carrossel{
    color: #fff;
    padding-left: 48px;
    display: grid;
    grid-template-columns: 465px 465px 465px;
}

.g1 {
    margin: 25px;
    height: 210px;
    position: relative;
}

.g1 img{
width: 100%;
    height: 100%;
    object-fit: cover;
        display: block;

}

.g2 {
    margin: 25px;
    height: 210px;
    position: relative;
}

.g2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.g3 {
    margin: 25px;
    height: 210px;
    position: relative;
}

.g3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

  .legenda {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    color: white;
    padding: 10px;   
}