* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style:normal;
}

.bg {
    height: calc(100vh - 8vh);
    background: url('../images/Form1.png') no-repeat;
    background-size: cover;
    background-position: top center;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{    
    align-items: center;
    text-align: center;
    margin: 0;
}

a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;    align-items: center;
    background: #12151f;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.container {
    color: #fff;
    width: 520px;
    height: 620px;
    background-color: #11141D;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1{
    font-size: 3 6px;
    text-align: center;
}

.registro a{
    color: #FDCA44;
}

.senha a{
    color: #209fdf;
}